/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* --- end public domain code --- */
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

* {
    box-sizing: border-box;
}
a {
    color: #42d9ff;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
strong {
    font-weight: bold;
}
header {
    padding: 55px 15px 0 15px;
    text-align: center;
    background: #5ac9f5; /* Old browsers */
    background: -moz-linear-gradient(top, #5ac9f5 0%, #6f77c7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ac9f5), color-stop(100%,#6f77c7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5ac9f5 0%,#6f77c7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5ac9f5 0%,#6f77c7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5ac9f5 0%,#6f77c7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5ac9f5 0%,#6f77c7 100%); /* W3C */
}
header p {
    font-family: "open-sans";
    font-size: 26px;
    line-height: 42px;
    max-width: 860px;
    color: white;
    margin: 50px auto 65px auto;
}
header ul {
    font-family: "open-sans";
    font-size: 19px;
    color: white;
    line-height: 28px;
    padding-bottom: 60px;
}
header ul li {
    background: url(/images/check.png) left center no-repeat;
    padding: 0px 0px 0px 22px; 
    display: inline-block;
    padding-right: 5px;
}
form {
    background: #d0e3f0;
    padding: 15px;
    max-width: 1080px;
    margin: 0px auto 0px auto;
    margin-bottom: 0px;
}
form input {
    width: 100%;
    height: 63px;
    border: 0px;
    line-height: 63px;
    font-family: "open-sans";
    font-size: 30px;
    padding: 0px 15px;
    vertical-align: top;
    margin-bottom: 15px;
    color: #666;
}
form button {
    width: 100%;
    background: #24d3a4;
    border: 0px;
    height: 63px;
    text-align: center;
    font-size: 26px;
    font-family: "open-sans";
    color: white;
    vertical-align: top;
    cursor: pointer;
}
form button:hover {
    background: #14c394;
}
h2 {
    font-family: "brandon-grotesque";
    font-weight: 100;
    font-size: 94px;
    text-align: center;
    color: #455b87;
    margin-bottom: 60px;
}
h3 { 
    font-size: 40px;
    font-family: "brandon-grotesque";
    color: #444;
    vertical-align: middle;
    text-align: center;
}
h3 img {
    vertical-align: middle;
    opacity: .6;
}
section {
    padding: 0px 15px;
    padding: 50px 15px 30px 15px;
}
section i {
    font-family: "brandon-grotesque";
    color: #455b87;
    font-size: 36px;
    line-height: 44px;
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 0px auto 10px auto;;
}
section p, footer p {
    font-family: "brandon-grotesque";
    color: #8b97ae;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    max-width: 650px;
    font-weight: 300;
    margin: 0px auto 50px auto;
}
section:nth-child(even) {
    background: #f8fafb;
    
}
ul.pricing {
    margin-bottom: 40px;
}
ul.pricing li {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    margin: 0px auto 10px auto;
    max-width: 550px;
    height: 65px;
    border: 1px solid #d8e1e6;
    border-radius: 7px;
    background: #f8fafb;
}
ul.pricing li > div:first-child {
    display: inline-block;
    padding: 0px 15px;
    background: #597787;
    line-height: 63px;
    color: white;
    font-family: "brandon-grotesque";
    font-size: 20px;
    font-weight: 400;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
ul.pricing li > div {
    height: 100%;
}
ul.pricing li > div:last-child > div {
    display: table;
    width: 100%;
    height: 100%;
}
ul.pricing li > div:last-child > div > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0px .5rem;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    color: #3a484e;
    font-size: 14px;
}
@media screen and (min-width: 699px) {
    ul.pricing li > div:first-child {
        font-size: 25px;
        width: 120px;
    }
    ul.pricing li > div:last-child > div > div {
        font-size: 18px;
        padding: 0px 1rem;
    }
}
ul.pricing li div span {
    font-size: 15px;
}
.btn {
    display: inline-block;
    background: #3fafee;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 7px;
}
footer {
    /*
    
    */
}
footer p {
    color: #627498;
}
@media screen and (min-width: 768px) {
    form {
        margin-top: -82px;
    }
    header ul {
        padding-bottom: 140px;
    }
    header ul li {
        padding-right: 20px;
        margin-left: 20px;
        border-right: 1px solid rgba(255, 255, 255, .3);
    }
    header ul li:first-child {
        margin-left: 0px;
    }
    header ul li:last-child {
        padding-right: 0px;
        border-right: 0px;
    }
    form {
        padding: 50px;
    }
    form input {
        width: 31%;
        margin-right: 2%;
        margin-bottom: 0px;
    }
    form button {
        width: 33%;
        background: #24d3a4;
    }
}